@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

ul{
    list-style-type: none;
}




.card{
    background-image: url("https://i.pinimg.com/originals/68/34/20/683420098faac1e27a55280c6fead466.jpg");
    //background-repeat: no-repeat;
    background-position:center ;
    border:none;
    width: 800px;
    opacity: 0.85;
}

body{
    background-image: url("https://previews.123rf.com/images/samsem/samsem1203/samsem120300041/12857642-vaciar-tabl%C3%B3n-de-anuncios-de-corcho-con-chinchetas-de-colores-en-la-esquina-.jpg") ;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


 .fa-thumbtack{
float: left;
color: darkmagenta;
}

h1{
    font-family: 'Indie Flower';
}

.listItem{
    display: flex;
}
.btn { position: absolute; right: 0; }

.myLi { flex: 1; text-align: center; }

#myUlist{
       font-family: 'Indie Flower';
}